{{ form_start(form, {'attr': {'class': 'edit-form'}}) }}
    {{ form_row(form.code) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
