{% extends 'base.html.twig' %}

{% block title %}Курсы / StudyOn{% endblock %}

{% block header %}/ Курсы{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-3">
        {% for course in courses %}
            <div class="d-flex flex-column border border-2 rounded p-4">
                <div class="fs-4 fw-semibold">{{ course.title }}</div>
                {% if course.description %}
                    <p class="text-muted m-0">{{ course.description }}</p>
                {% endif %}
                <div class="mt-2"><a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-outline-primary">Перейти к курсу</a></div>
            </div>
        {% else %}
            <div class="fs-4 fw-semibold p-4 text-center">
                Здесь пока нет курсов.
                <a href="{{ path('app_course_new') }}" class="text-decoration-none">Создайте первый курс</a>.
            </div>
        {% endfor %}
        <div class="d-flex flex-wrap gap-2 align-items-center">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_course_new') }}" class="btn btn-primary">
                    Добавить курс
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
