{% extends 'base.html.twig' %}

{% block title %}Уроки / StudyOn{% endblock %}

{% block body %}
    <h1>Уроки</h1>

    <div>
        {% for lesson in lessons %}
            <div>
                <h2><a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ loop.index }}. {{ lesson.title }}</a></h2>
                <p><a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Глава: {{ lesson.course.title }}</a></p>
            </div>
        {% else %}
            <p>Уроки не найдены</p>
        {% endfor %}
    </div>

{% endblock %}
